:root{
    --background : rgb(250, 248, 242);
    --font : 1rem;
    --row : minmax(150px,275px);
    --column : minmax(150px,0.17fr);
}

html,body{
    height: 100%;
    overflow-x: hidden;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    gap: 10px;
}

#header{
    height: min(150px,20vh);
    line-height: min(150px,20vh);
    background-color: rgba(24, 26, 23, 0.623);
    font-size: clamp(2rem,10vw,5rem);
    color: azure;
    box-shadow: 10px 5px 5px rgba(2, 2, 2, 0.74);
}
dialog{
    padding: 2.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(15, 15, 15);
    font-size: 1.5rem;
}

.grid{
    display: grid;
    gap: 30px;
    width: 94vw;
    grid-template-rows: repeat(auto-fit,var(--row));
    grid-template-columns: repeat(auto-fit,var(--column));
    padding-left: min(5vw,50px);
    padding-top: 100px;
    grid-auto-rows: var(--row);
    grid-auto-columns: var(--column);
    overflow: auto;
}
.btn{
    border-style: dashed;
    font-weight: bolder;
    font-size: clamp(0.5rem,10vw,2rem);
    background-color: rgba(79, 219, 219, 0.63);
    box-shadow: 10px 5px 5px rgba(2, 2, 2, 0.74);
}

button:hover{
    background-color: rgba(166, 212, 212, 0.952);
}

.gridcon{
    display: grid;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: clamp(1rem,11vw,1.5rem);
    background-color: rgba(170, 236, 125, 0.774);
}

.removebtn{
    width: 100px;
    margin-left: clamp(2vw,20%,40px);
    border-radius: 20px;
    background-color: rgba(219, 19, 19, 0.774);
}

form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 1rem;
    column-gap: 0.5rem;
    align-items: center;
}